body {
    background-color: black;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background: black;
}

.question-text {
    color: white;
    text-align: center;
}
.result-text {
    color: white;
    text-align: center;
    margin-top: 5px;
}

#results_body_top, #results_body_bottom {
    text-align: center;
}

.question-img {
    height: 400px;
    width: 400px;
    /*margin: 10px;*/
    border: 5px solid white;
    display: inline;
    /*padding: 5px;*/
    margin: 0 auto;
    margin-bottom: 5px;
}

.color {
    height: 200px;
    width: 200px; 
    margin: 0 auto;
    background: white;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
}

.code {
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 30px;
    vertical-align: middle;
    line-height: 200px;
}


.selected {
    border: 5px solid red;
}

.color-selected {
    border: 2px solid white;
}

#photos {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.photo-row {
    float: none;
    margin: 0 auto;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.circle {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}
